#container-1[data-akn-state="active"]:focus,
#container-1[data-akn-state="active"] *[data-akn-index]:focus {
    border: 2px solid red;
}

#container-2[data-akn-state="active"]:focus,
#container-2[data-akn-state="active"] *[data-akn-index]:focus {
    border: 2px dashed #dddddd;
}

.container[data-akn-state="active"][title]:focus:after,
.container[data-akn-state="active"] *[data-akn-index][title]:focus:after {
    content: attr(title);
    display: block;
    padding: 3px;
    background: black;
    color: white;
    width: 56px;
    font-size: 0.875em;
    margin-top: 10px;
}