body {
    padding: 0 20%;
}
h1, h5 {
    color: #67BCDB;
}

h1 {
    margin-bottom: 0px;
}

h5 {
    margin-top: 0;
}

h4.title b {
    color: #E44424;
}

div.tab {
    padding-left: 20px;
}
a {
    text-decoration: none;
}
a:focus {
    text-decoration: underline;
}

a:focus, a:active, a:visited {
    color: blue;
}

li.active a {
    color: #E44424;
}

ul {
    padding-left: 0px;
}

ul li {
    display: inline-block;
    padding: 3px;
    border: 1px solid black;
}

.container {
    border: 1px solid #ddd;
    width: 25%;
    height: 200px;
    margin: 10px 50px 10px 0px;
    position: relative;
    padding: 5px;
    display: inline-block;
    float: left;
}

#container-3.container {
    width: 75%;
}

.container div.row > div {
    width: 40px;
    height: 25px;
    position: absolute;
    color: white;
    padding: 2px;
    text-align: center;
    font-size: 1.256em;
}

.container .div1 {
    top: 84px;
    right: 0;
    background-color: #018068;
}

.container .div2 {
    bottom: 10px;
    left: 40px;
    background: black;
}

.container .div3 {
    top: 49px;
    left: 0;
    background-color: deepskyblue;
}

.container .div4 {
    top: 50px;
    left: 50px;
    background: #5fa1a9;
}

.container .div5 {
    bottom: 0;
    right: 0;
    background: #3ee0d9;

}
.container .div6 {
    top: 83px;
    left: 80px;
    background: red;
}

.row {
    width: 23%;
    float: left;
}

#addboxitem {
    width: 95px;
}