*[data-akn-state="active"]:focus,
*[data-akn-state="active"] *[data-akn-index]:focus {
    border: 2px solid yellow;
}

body[data-akn-env="prod"] a[id*="akn-enp"],
body[data-akn-env="prod"] a[id*="akn-exp"],
body[data-akn-env="prod"] a[id*="akn-lp"] {
    position: absolute;
    left: -9999px;
}